.contact {
  padding: 104px 0 120px;
}

.contact__title {
  color: #222;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact__title-text_red {
  color: #d10014;
}

.form {
  padding: 60px;
  background-color: #fff;
  border-radius: 32px;
}

.form__fieldset {
  margin-bottom: 32px;
  display: none;
}

.form__fieldset_active {
  display: block;
}

.form__title {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 32px;
}

.form__radio-wrapper:last-child {
  margin-bottom: 0;
}

.radio__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__input:checked + .radio__label {
  background: #222;
  color: #fff;
}

.radio__label {
  display: block;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 50px;
  background: #f0f4f4;
  padding: 12px 20px;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.radio__label:hover {
  background: #e4f0f0;
}

.form__months {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.form__subtitle {
  margin-bottom: 16px;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month_active {
  color: #d10014;
  transform: scale(1.1);
}

.form__time {
  display: none;
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 12px;
  margin-bottom: 32px;
}

.form__input {
  border-radius: 8px;
  background: #f0f4f4;
  padding: 12px 20px;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
}

.form__input:placeholder-shown {
  opacity: 0.4;
}

.form__input:hover {
  opacity: 1;
}

.form__input:focus-visible,
.form__input:focus {
  border-color: #d0d0d0;
  opacity: 1;
}

.form__info {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__info-date {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.form__btns-wrapper {
  display: flex;
  gap: 8px;
}

.form__btn {
  border-radius: 50px;
  background: #f0f4f4;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 6px;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
}

.form__btn:not(:disabled):hover {
  background: #e4f0f0;
}

.form__btn:not(:disabled):focus {
  border-color: #d10014;
  background: #f0f4f4;
}

.form__btn svg {
  fill: #222;
}

.form__btn:disabled {
  color: #222;
  background: #f0f4f4;
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
  transition: none;
}

.form__btn_next,
.form__btn_submit {
  background: #d10014;
  color: #fff;
}

.form__btn_next:not(:disabled):hover {
  background: #222;
}

.form__btn_next:not(:disabled):focus {
  border-color: #222;
  background: #d10014;
}

.form__btn_next svg {
  fill: #fff;
}

@media (max-width: 1080px) {
  .contact {
    padding: 60px 0 120px;
  }

  .contact__title {
    font-size: 60px;
    margin-bottom: 32px;
  }

  .form {
    padding: 40px;
  }

  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }

  .contact__title {
    font-size: 48px;
  }

  .form__fieldset:last-of-type {
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0 80px;
  }

  .contact__title {
    font-size: 32px;
  }

  .form {
    padding: 24px;
    border-radius: 16px;
  }

  .form__title {
    margin-bottom: 24px;
  }

  .form__fieldset {
    margin-bottom: 24px;
  }

  .form__fieldset-type .radio {
    width: 100%;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 24px;
  }
}
