.header {
  background: #222;
  padding-top: 32px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.header__logo {
  width: 254px;
}

.header__link {
  display: flex;
  height: 46px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #f0f4f4;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
}

.header__link:hover {
  background: #e4f0f0;
}

.header__link:active,
.header__link:focus,
.header__link:focus-visible {
  border-color: #d10014;
  background: #f0f4f4;
}


@media (max-width: 900px) {
  .header {
    padding-top: 24px;
  }

  .header__logo {
    width: 180px;
  }
}

@media (max-width: 660px) {
  .header {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

